.button_leiste_standart {
}

.button_leiste_standart:hover {
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.73);
}

.button_leiste_standart:active {
    -unity-background-image-tint-color: rgba(0, 0, 0, 0.18);
}
